
$color-primary-01             : #991F1F;
$color-primary-02             : #F37676;

$color-secondary-01           : white;
$color-secondary-02           : #161616;


$font-primary-01              :'Noto Sans', 'Arial';
$font-primary-02              :"Times New Roman", Times, serif;

